
.menu{
    background-color: #3B3B3B;
    width: 200px;
    height: 620px; 
    
}
.icon-menu {
    width: 30px;
    height: auto;
    float: left;
    position: relative;
    bottom: 10px;
    margin: 10px;
  }
.close{
  color:white;
  height: 0px;
  float: right;
  padding-right: 10px;
}
.close:hover{
  color:#CF550B;
}

.list { 
    color: white; 
    font-weight: 300; 
    letter-spacing: 2px; 
    text-decoration: none; 
    padding: 20px 5px; 
    display: inline-block; 
    width: 100%; 
    text-align: left; 
    position: relative;
    top: 10px;
    }
    
    .list:hover { 
      background-color: #CF550B;

    }